<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Moon Tracker</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/main.css')}}">
</head>
<body>
        <h1>{% for message in get_flashed_messages()%}
            <p>{{message}}</p>
            {% endfor %}
        </h1>
        <br>
        <form method="POST" action="/">

        <label for="city_label" id="city_label">Enter City:</label>
        <input type="text" id="text" name="city" autocomplete="off">

        <label for="state_label" id="state_label">Enter State:</label>
        <select id="state_select" name="state">
            <option value="" disabled selected>Select Your State</option>
            {% for code, state in states.items() %}
            <option value="{{ code }}">{{ state }}</option>
            {% endfor %}
        </select>

        <label for="start_label" id="start_label">Enter Start Date:</label>
        <input type="date" id="date_text" name="start_date" autocomplete="off">
        <br>
        <input type="submit" value="Submit" id="submit_button">
    </form>
</div>
</body>
</html>